<p class="pull-left">&copy; NoName @DateTime.Now.ToString("yyyy")</p>

<ul class="nav nav-pills pull-right">
    <li><a href="#contactModalTarget" id="contactModal">Contact</a></li>
    <li>@Html.ActionLink("FAQ", "Index", "FAQ")</li>
</ul>