<li>@Html.ActionLink("News", "Index", "News")</li>
<li><a href="@Url.Action("Index", "Show")">Shows</a></li>

@if (Request.IsAuthenticated) {
    <li><a href="@Url.Action("Subscriptions", "User")">My subscriptions</a></li>
}