@{
    ViewBag.Title = "Unknown error";
}
<div>

    <div class="thumbnail text-center">
        <h2>Something went wrong! Perhaps we can help you get back?</h2>
    </div>
    <br />
    <ul class="inline">
        <li class="thumbnail erroritem">
            <h3>Session timeout</h3>
            <hr />
            <p>Have you not been actively browsing NoName for a while? Try relogging!</p>
            <hr />
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-large"><i class="icon-share icon-white"></i>Log out</a>
        </li>
        <li class="thumbnail erroritem">
            <h3>Page not found</h3>
            <hr />
            <p>Are you sure the address you've entered is correct? Try navigating manually!</p>
            <hr />
            <a href="@Url.Action("Index", "Show")" class="btn btn-danger btn-large"><i class="icon-share icon-white"></i>Back to the show overview</a>
        </li>
        <li class="thumbnail erroritem">
            <h3>Contact us</h3>
            <hr />
            <p>If you require assistance, contact us using the form below!</p>
            <hr />
            <a href="#contactModalTarget" class="btn btn-danger btn-large" id="errorContact"><i class="icon-share icon-white"></i>Send an email</a>
        </li>
    </ul>
</div>
<br />