@{
    ViewBag.Title = "Validation error";
}
<style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
</style>

<div class="hero-unit center">
    <h1>A validation error has occurred!</h1>
    <br />
    <p>The form you've just filled in contained validation errors. Please make sure every field has been entered!</p>
    <p>Here are some things to keep in mind:</p>
    <ul class="unstyled">
        <li>Make sure your e-mail address has the correct format (<code>yourmail@something.xyz)</code>).
        </li>
        <li>If the form has a dropdown list, select an option!
        </li>
        <li>When you have to confirm a password, make sure it's the same as the other!
        </li>
        <li>Passwords are case-sensitive and have a minimum length of 6 characters.
        </li>
    </ul>
    <hr />
    <h2>Need a helping hand?</h2>
    <a href="#contactModalTarget" class="btn btn-large btn-info" id="validationContact"><i class="icon-home icon-white"></i>Contact us!</a>
</div>